body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 隐藏滚动条 */
    background-color: black;
    width: 100%;
    height: 100vh;
}

canvas {
    display: block; /* 移除 Canvas 默认的底部间隙 */
}
